@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #14161A;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.container-fluid {
  width: 100%;
}
.container{
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* header css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: #14161A; */
  color: #FFD700;
  position: static;
}

.logo-name h2 {
  font-size: 1.5rem;
  font-weight: 500;
}


/* header css end */


/* hero section css */
.banner {
  background-image: url('../public/assets/banner2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.hero-content .hero-heading{
  margin-bottom: 4rem;
}
.hero-content .hero-heading h3{
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.hero-content .hero-heading p{
  font-size: .9rem;
  font-weight: 300;
  color: rgb(158, 158, 158);
}

.hero-carousel{
  padding: 0 3rem;
  margin: 0 10% !important;
}

.carousel-coin{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.carousel-coin img{
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

/* coin-list css */
.coin-list{
  margin-top: 2rem;
  padding: 0 2rem;
}
.coin-list-heading{
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.coin-list-heading h3{
  font-weight: 450;
}
.coin-list-heading span{
  color: #FFD700;
}

.coin-info-row{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  background-color: #FFD700;
  color: #16171A;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.coin-card{
  border-radius: 0px;
  background: #14161A;
  color: #fff;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.coin-price, .coin-24h-change, .coin-market-cap{
  margin: auto 0;
}

.coin-name{
  display: flex;
  align-items: center;
}

.coin-image{
  width: 56px;
  height: 56px;
  margin-right: 1rem;
}

.coin-name-info p{
  font-size: 1rem;
  font-weight: 400;
  margin-top: .1rem;
}

.coin-name-info span{
  text-transform: uppercase;
}
.search-box {
  margin-right: 2rem;
}

.search-box input {
  width: 102.5%;
  padding: 1rem 1.5rem;
  position: relative;
  background: #14161A;
  outline: none;
  border: 1px solid rgb(158, 158, 158);
  border-radius: .5rem;
  cursor: pointer;
  transition: all .3s ease; 
  color: #FFD700;
  margin-bottom: 1rem;
}

.search-box input:focus {
  border: 2px solid #fff;
  color: #fff;
}

.search-box input:hover {
  border: 1px solid #fff;
}

.search-box input::placeholder {
  color: #FFD700;
}

.search-box i {
  position: absolute;
  top: 1.63rem;
  right: 4rem;
  font-size: .9rem;
}