@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: #14161A;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #14161A;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* header css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: #14161A; */
  color: #14161A;
  position: static;
  box-shadow: 0px 2px 5px 2px #eee;
}

.logo-name h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #14161A;
}

.nav-links ul{
  display: flex;
}

.nav-links ul li {
  padding: .3rem 1rem;
  /* margin-left: 2rem; */
  transition: all .3s ease-out;
}

.nav-links ul li:hover {
  transform: scale(1.1);
}

.nav-links ul li a {
  color: #14161A;
  font-size: 1.1rem;
  font-weight: 500;
}

/* header css end */


/* hero section css */
.banner {
  background-image: url('../public/assets/banner2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.hero-content .hero-heading {
  margin-bottom: 4rem;
}

.hero-content .hero-heading h3 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.hero-content .hero-heading p {
  font-size: .9rem;
  font-weight: 300;
  color: rgb(158, 158, 158);
}

.caraousel-card {
  padding-bottom: 3rem;
  ;
}

.carousel-coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.carousel-coin img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.carousel-coin-price,
.carousel-coin span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

/* coin-list css */
.coin-list {
  margin-top: 2rem;
  padding: 0 2rem;
}

.coin-list-heading {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.coin-list-heading h3 {
  font-weight: 450;
}

.coin-list-heading span {
  color: #14161A;
}

.coin-info-row,
.exchange-info-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  background-color: #14161A;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(158, 158, 158);
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.coin-card {
  border-radius: 0px;
  background: #14161A;
  color: #fff;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.coin-price,
.coin-24h-change,
.coin-market-cap {
  margin: auto 0;
}

.coin-name {
  display: flex;
  align-items: center;
}

.coin-image {
  width: 56px;
  height: 56px;
  margin-right: 1rem;
}

.coin-name-info p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: .1rem;
}

.coin-name-info span {
  text-transform: uppercase;
}

.search-box {
  margin-right: 2rem;
}

.search-box input {
  width: 102.5%;
  padding: 1rem 1.5rem;
  position: relative;
  background: #14161A;
  outline: none;
  border: 1px solid rgb(158, 158, 158);
  border-radius: .5rem;
  cursor: pointer;
  transition: all .3s ease;
  color: #14161A;
  margin-bottom: 1rem;
}

.search-box input:focus {
  border: 2px solid #fff;
  color: #fff;
}

.search-box input:hover {
  border: 1px solid #fff;
}

.search-box i {
  position: absolute;
  top: 1.63rem;
  right: 4rem;
  font-size: .9rem;
}


/* coinpage css */
.coin-page {
  display: flex;
  margin: 2rem 0;
}

.sidebar-section {
  width: 30%;
  padding: 1.5rem;
  border-right: 2px solid gray;
}

.coin-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coin-info img {
  width: 60%;
  height: 60%;
  /* margin-bottom: 1rem; */
}

.coin-info h2 {
  font-size: 3rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-weight: 500;
  word-spacing: .5rem;
}

.market-info p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.market-info span {
  font-weight: 400;
  font-size: 1.3rem;
}


/* chart css */

.chart-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.time-line-button {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  width: 25%;
  background-color: #14161A;
  padding: .5rem 1rem;
  margin: 0 1rem;
  color: #fff;
  font-weight: 700;
  border-radius: .5rem;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in;
}

.btn:hover {
  background-color: #fff;
  color: #14161A;
  border: 1px solid #14161A;
}

/* exchange page css */
.exchange-page {
  padding: 3rem;
}

.exchange-page .exchange-table{
  margin-top: 2rem;
}

.exchange-info-row {
  grid-template-columns: .5fr 3fr 1fr;
}

.exchange-name, .exchange-rank {
  display: flex;
  align-items: center;
}

.btc-24h-vol small {
  display: block;
  font-size: small;
  text-align: center;
  color: #eee;
  font-weight: 400;
}
.btc-24h-vol span{
  display: block;
  text-align: center;
}

.exchange-card{
  border-radius: 0px;
}

.exchange-img-name, .rank, .volume-trade{
  display: flex;
  align-items: center;
}

.exchange-img-name h4{
  font-size: 1.3rem;
  font-weight: 500;
}

.volume-trade{
  justify-content: center;
}

/* NFT Collection page starts */
.collection_header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.collection_container{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1.5rem;
}

.collection_card{
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 340px;
  border-radius: .5rem;
  border: 2px solid #333;
  transition: all .3s ease-in;
  box-shadow: 5px 5px 10px rgb(222, 222, 222);
}

.collection_card:hover{
  transform: scale(1.05);
}

.collection_card .collection_img,
.collection_card .collection_img img{
  width: 100%;
  height: 280px;
  background: rgb(222, 222, 222);
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  border-bottom: 2px solid #333;
}

.collection_card .collection_name{
  padding: .6rem .5rem;
  display: flex;
}

.collection_card .collection_name span{
  font-size: 18px;
  font-weight: 600;
}
/* NFT Collection page ends */